.register{
    width:100%;
    text-align:center;
    margin-bottom:5%;
}
.register h1{
    text-align:center;
    font-size:45px;
    margin-top:3%;
}
.register .main-logo{
    font-size:75px;
}
.register .register-page{
    width:50%;
    margin: 3% auto;
    padding:2%;
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content:center;
    align-items:center;
    font-size:20px;
    border:3px solid black;
    border-radius:20px;
}

.register .register-page input{
    width:80%;
    padding:1%;
    margin-top:2%;
    border:3px solid black;
}
.register .register-page button{
    font-size:25px;
    border:2px solid black;
    margin-top:2%;
    cursor:pointer;    
    transition:color 0.2s ease-in;
}

.register .register-page button:hover{
    background-color:black;
    color:white;
}

::placeholder{
    text-align:center;
}

@media only screen and (max-width:1000px){
    .register .register-page{
        width:100%;
    }
    .register .main-logo{
        font-size:60px;
        margin-top:20%;
        margin-bottom:5%;
    }
}